*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "muli", sans-serif;
}
.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 216px;
    
}
.loading-title{
    font-size:18px;
    font-weight: 400;
    line-height: 1.3333;
    color: #151B26;
    padding-bottom: 20px;
     animation-name: flicker;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.progress-bar{
    width: 300px;
    height: 12px;
    background: #E5EAEF;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    
}

.progress-bar-gauge{    
    position: absolute;
    width: 0;
    height: 12px;
    left: 0;
    top: 0;
    border-radius: 100px;
    background-color: #13CE66;
    animation-name: loading-bar;
    animation-duration: 3000ms;
     animation-iteration-count: infinite;
  animation-timing-function: ease-out;
   
}

@keyframes flicker {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


@keyframes loading-bar {
   0% {
        width: 0;
       opacity: 1;
    }
    90%{
        width: 100%;
        opacity: 1;
    }
    
    100% {
        width: 100%;
        opacity: 0;
    }
}
