body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
}
*{
     margin: 0;
}


.card{
    padding: 20px; 
    width: 550px;    
    
}

.card-user{
    float: left;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 20px;
    display: block;
    
}
.card-content{
    float: left;
}
.card-content h1{    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #1F2D3D;
    `margin-bottom: 4px;
    
}
.card-content strong {
    color: #AFB3B9;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
    display: block;
}
.card-content p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #79818B;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}